{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OneTwoCar</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">	
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<!-- Style -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<!-- Owl Carousel Assets -->
    <link href="{% static 'owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'owl-carousel/owl.theme.css' %}" rel="stylesheet">
  </head>
  <body class="page">
    <header>
	 <section class="header">
       <div class="container">
	      <div class="row">
		    <div class="col-lg-2 col-12">
			   <div class="logo"><a href="/"><img src="{% static 'img/logo.svg' %}" alt="OneTwoCar"></a></div>
			</div>
			<div class="col-lg-6">
			   <div class="menu">
			    <a href="/">Подобрать авто</a>
				<a href="/">Новинки</a>
				<a href="/">Порядок работы</a>
				<a href="/">О компании</a>
				<a href="/">Faq</a>
				<a href="/">Контакты</a>
			  </div>
			</div>
			<div class="col-lg-2"><div class="bot"><a href="/"><img src="{% static 'img/bot.svg' %}" alt="Бот-конфигуратор в Telegram">Бот-конфигуратор</a></div></div>
			<div class="col-lg-2">
			   <div class="soc-icon">
			      <img src="{% static 'img/Facebook_white_1.svg' %}" alt="Facebook">
			      <img src="{% static 'img/Instagram_white_1.svg' %}" alt="Instagram">
			      <img src="{% static 'img/Telegram_white_1.svg' %}" alt="Telegram">
			      <img src="{% static 'img/Tiktok_white_1.svg' %}" alt="Tiktok_white">
			      <img src="{% static 'img/Youtube_white_1.svg' %}" alt="Youtube_white">
			   </div>
			</div>
		  </div>
	   </div>
	 </section>
	</header>
  
	<section class="page">
       <div class="container">
		    <h2>Договор оферты</h2>
            <div class="text">
			   <h4>Заголовок 1</h4>
			   <h5>Подзаголовок 1.1</h5>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			   </br>
			   <h4>Заголовок 1</h4>
			   <h5>Подзаголовок 1.1</h5>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			   </br>
			   <h4>Заголовок 1</h4>
			   <h5>Подзаголовок 1.1</h5>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
	   </div>
	</section>
	
	<footer>
	  <div class="footer">
        <div class="container">
		  <div class="row">
		    <div class="col-lg-2">
			    <a href="/"><img src="{% static 'img/logo_footer.svg' %}" alt="OneTwoCar"></a>
			</div>
			<div class="col-lg-3">
			  <div class="menu-footer">
			    <a href="/">Подобрать автомобиль</a>
				<a href="/">Новинки</a>
				<a href="/">Порядок работы</a>
				<a href="/">О компании</a>
				<a href="/">Контакты</a>
			  </div>
			</div>
			<div class="col-lg-4">
			    <div class="menu-footer">
			    <a href="/">Часто задаваемые вопросы</a>
				<a href="/">Договор оферты</a>
			  </div>
			</div>
			<div class="col-lg-3">
                <div class="soc-icon">
					<img src="{% static 'img/Facebook_white_1.svg' %}" alt="Facebook">
					<img src="{% static 'img/Instagram_white_1.svg' %}" alt="Instagram">
					<img src="{% static 'img/Telegram_white_1.svg' %}" alt="Telegram">
					<img src="{% static 'img/Tiktok_white_1.svg' %}" alt="Tiktok_white">
					<img src="{% static 'img/Youtube_white_1.svg' %}" alt="Youtube_white">
			    </div>  
			   <span class="bot"><img src="{% static 'img/paper-plane.svg' %}" alt="Бот-конфигуратор в Telegram">Бот-конфигуратор в Telegram</span>
			   <a href="mailto:info@onetwocar.com" class="email-info">info@onetwocar.com</a>
			 </div>
		   </div>
		<div class="copyright">
		   <div class="row">
		    <div class="col-lg-4"><span>© 2022 One Two Car.  Все права защищены.</span></div>
			<div class="col-lg-8"><span class="text-right">Все материалы, размещенные на настоящем сайте носят исключительно информационный характер и не являются публичной офертой.</span></div>
		   </div>
	   </div>	
	    </div>
	   </div>
    </footer>
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>


    <!-- Demo -->

    <style>
    #owl-demo .item{
        background: #F5F6F8;
        padding: 30px 0px;
        margin: 10px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
    }
    .customNavigation{
      text-align: center;
    }
    .customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    </style>


    <script>
    $(document).ready(function() {

      var owl = $("#owl-demo");

      owl.owlCarousel({

      items : 3, //10 items above 1000px browser width
      itemsDesktop : [1000,5], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,3], // 3 items betweem 900px and 601px
      itemsTablet: [600,2], //2 items between 600 and 0;
      itemsMobile : false, // itemsMobile disabled - inherit from itemsTablet option
      dots : false
      });

      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
      $(".play").click(function(){
        owl.trigger('owl.play',1000);
      })
      $(".stop").click(function(){
        owl.trigger('owl.stop');
      })


    });
    </script>
  </body>
</html>