{% extends 'base/distributor/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock%}
{% block sidebar_body %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <span class="badge text-bg-primary w-75">Ваш список автомобилей</span>
      <div id="cars" class="container-fluid my-custom-scrollbar">
        {% if not cars %}
          <div class="alert alert-dark" role="alert">
            Отсутствует
          </div>
        {% else %}
          {% for car in cars %}
          {% with car=car.car %}
          <div class="card mb-3 car-card w-100">
            <div class="row g-0">
              <div class="col-md-4">
                {% if not car.image %}
                  <img src="{% static 'img/distributor/thumb.jpg' %}" class="img-fluid rounded-start" width="120">
                {% else %}
                  <img src="{{car.image}}" class="img-fluid rounded-start" width="170">
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{car.title}}</h5>
                  <p class="card-text">{{car.set.model.body}}; {{car.transmission}}; {{car.engine.type_fuel}}; {{car.engine.volume}}; {{car.engine.power}}; {{car.wd}}</p>
                  <p class="card-text"><small class="text-muted">Цена: {{car.price|add:"0"}}₽</small></p>
                </div>
              </div>
            </div>
          </div>
          {% endwith %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="col">
      <span class="badge text-bg-primary w-75">Загруженные файлы</span>
      <div id="download-history" class="container-fluid my-custom-scrollbar">
        {% if not files %}
          <div class="alert alert-dark" role="alert">
            Отсутствуют
          </div>
        {% else %}
          {% for file in files %}
            <div class="alert alert-primary" role="alert">
              <a href="{{file.file.url}}">{{file.file}}</a>
              <div class="text-muted">
                {{file.created}}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}