{% extends 'base/distributor/base.html' %}
{% load static %}
{% block title %}Дистрибьютор{% endblock%}
{% block sidebar_body %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div id="cars" class="container-fluid my-custom-scrollbar">
        <div class="shadow p-1 bg-body rounded"><strong>Ваш список автомобилей</strong></div>
        {% if not cars %}
          <div class="alert alert-dark" role="alert">
            <i class="bi bi-dash-square-dotted"></i> Отсутствует
          </div>
        {% else %}
          {% for car in cars %}
          {% with count=car.count %}
          {% with car=car.car %}
          <div class="card car-card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-4">
                {% if not car.image %}
                  <img src="{% static 'img/distributor/thumb.jpg' %}" class="img-fluid rounded-start" width="120">
                {% else %}
                  <img src="{{car.image}}" class="img-fluid rounded-start" width="170">
                {% endif %}
                <div class="input-group inc-dec-input-group">
                  <button type="button" class="btn btn-primary dec-btn" onclick="car_decrease('{{car.id}}');"><i class="bi bi-dash"></i></button>
                  <input id="value_{{car.id}}" type="text" class="form-control text-center dec-inc-input" aria-label="Username" aria-describedby="basic-addon1" value="{{count}}" readonly>
                  <button type="button" class="btn btn-primary inc-btn" onclick="car_increase('{{car.id}}');"><i class="bi bi-plus"></i></button>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{car.title}}</h5>
                  <p class="card-text">{{car.set.model.body}}; {{car.transmission}}; {{car.engine.type_fuel}}; {{car.engine.volume}}; {{car.engine.power}}; {{car.wd}}</p>
                  <p class="card-text"><small class="text-muted">Цена: {{car.price|add:"0"}}₽</small></p>
                </div>
              </div>
            </div>
          </div>
          {% endwith %}
          {% endwith %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="col">
      <div id="download-history" class="container-fluid my-custom-scrollbar">
          <div class="shadow p-1 bg-body rounded"><strong>Загруженные файлы</strong></div>
          {% if not files %}
            <div class="alert alert-dark" role="alert">
              <i class="bi bi-dash-square-dotted"></i> Отсутствуют
            </div>
          {% else %}
            {% for file in files %}
              <div class="alert alert-primary" role="alert">
                <a href="{{file.file.url}}">{{file.file}}</a>
                <div class="text-muted">
                  {{file.created}}
                </div>
              </div>
            {% endfor %}
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}