{% extends 'distributor/index.html' %}
{% load static %}
{% load define_action %}
{% block title %}Заказы{% endblock %}
{% block sidebar_body %}
<div id="distribEntryInfoModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal('distribEntryInfoModal')"></button>
        </div>
        <div class="modal-body">
            <div id="EntryInfoCard" class="card mb-3 car-card w-100">
                <div class="row g-0">
                  <div class="col-md-4">
                    {% if not car.image %}
                      <img src="{% static 'img/distributor/thumb.jpg' %}" class="img-fluid rounded-start" width="320">
                    {% else %}
                      <img src="{{car.image}}" class="img-fluid rounded-start" width="170">
                    {% endif %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{car.title}}</h5>
                      <p class="card-text"></p>
                      <p class="card-text price-text"></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>

<div class="album py-2 my-custom-scrollbar">
    <div class="table-scroll-y">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            {% for order in orders %}
            {% if order.status == 'new' %}
                {% define '1' as step %}
            {% elif order.status == 'work' %}
                {% define '2' as step %}
            {% elif order.status == 'complete' %}
                {% define '3' as step %}
            {% endif %}
            <div id="d-order{{oder.pk}}" class="card order-card border-dark mb-3">
                <div id="body-font-{{order.pk}}" class="card-body body-font">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="info-btn" onclick="distribEntryInfo('{{order.pk}}')"><i class="bi bi-info-circle"></i>
                    <button class="arrow-btn" onclick="goBack('body-font-{{order.pk}}')"><i class="bi bi-arrow-left-right"></i></button>
                  </div>
                  <h5 class="card-title text-center">Заявка #{{order.pk}}</button></h5>
                  <div class="form-group">
                    <input id="{{order.pk}}" type="range" class="custom-range" min="1" max="3" step="1" value="{{step}}" onchange="changeEntryStatus(this.id, this.value)">
                  </div>
                  <div class="la">
                    <div><span>
                      Новая
                    </span></div>
                    <div><span>
                      В работе
                    </span></div>
                    <div><span>
                      Завершена
                    </span></div>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="upload-btn-wrapper">
                          <button class="upload-file-btn">Загрузить акт</button>
                          <input id="act-{{order.pk}}" type="file" name="myfile"/>
                          <small class="act-text"></small>
                          {% if not order.distributor_file.act %}
                            <small class="false-act-text"><i class="bi bi-file-earmark-excel false-icon"></i> Акт отсутствует</small>
                          {% else %}
                            <small class="true-act-text"><i class="bi bi-file-earmark-check true-icon"></i> Акт присутствует</small>
                          {% endif %}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="upload-btn-wrapper">
                            <button class="upload-file-btn">Загрузить соглашение</button>
                            <input id="agreement-{{order.pk}}" type="file" name="myfile"/>
                            {% if not order.distributor_file.agreement %}
                              <small class="false-agreement-text"><i class="bi bi-file-earmark-excel false-icon"></i> Соглашение отсутствует</small>
                            {% else %}
                              <small class="true-agreement-text"><i class="bi bi-file-earmark-check true-icon"></i> Соглашение присутствует</small>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="upload-btn-wrapper">
                            <button class="upload-file-btn">Загрузить счёт</button>
                            <input id="bill-{{order.pk}}" type="file" name="myfile"/>
                            {% if not order.distributor_file.bill %}
                              <small class="false-bill-text"><i class="bi bi-file-earmark-excel false-icon"></i> Счёт отсутствует</small>
                            {% else %}
                              <small class="false-bill-text"><i class="bi bi-file-earmark-check true-icon"></i> Счёт присутствует</small>
                            {% endif %}
                        </div>
                    </li>
                  </ul>
                  <!--<div class="card-footer">
                    <small class="text-muted">{{order.entry.created}}</small>
                  </div>-->
                  <a class="btn btn-primary w-100 save-distributor-docs" type="submit" onclick="saveDsitributorDocuments('{{order.pk}}')">Сохранить</a>
                </div>

                <div id="body-back-{{order.pk}}" class="card-body body-back" style="display: none;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button class="info-btn" onclick="distribEntryInfo('{{order.pk}}')"><i class="bi bi-info-circle"></i>
                      <button class="arrow-btn" onclick="goFont('body-back-{{order.pk}}')"><i class="bi bi-arrow-left-right"></i></button>
                    </div>
                    <h5 class="card-title text-center">Администратор</h5>
                    <ul class="list-group list-group-flush">
                        {% if not order.admin_file.act %}
                            <li class="list-group-item">
                                <span class="badge text-bg-danger w-100 bg-gradient"><i class="bi bi-file-earmark-excel"></i> Акт отсутствует</span>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <span class="badge text-bg-success w-100 bg-gradient"><i class="bi bi-file-earmark-check"></i> Акт присутствует</span>
                            </li>
                        {% endif %}

                        {% if not order.admin_file.agreement %}
                            <li class="list-group-item">
                                <span class="badge text-bg-danger w-100 bg-gradient"><i class="bi bi-file-earmark-excel"></i> Соглашение отсутствует</span>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <span class="badge text-bg-success w-100 bg-gradient"><i class="bi bi-file-earmark-check"></i> Соглашение присутствует</span>
                            </li>
                        {% endif %}

                        {% if not order.admin_file.bill %}
                            <li class="list-group-item">
                                <span class="badge text-bg-danger w-100 bg-gradient"><i class="bi bi-file-earmark-excel"></i> Счёт отсутствует</span>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <span class="badge text-bg-success w-100 bg-gradient"><i class="bi bi-file-earmark-check"></i> Счёт присутствует</span>
                            </li>
                        {% endif %}
                      </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}