{% extends 'distributor/index.html' %}
{% load static %}
{% block title %}Профиль{% endblock%}
{% block sidebar_body %}
<div id="profileCard" class="card mb-3">
    <div class="alert alert-dark text-center" role="alert">
        <strong>Данные компании</strong>
    </div>
    <div class="row g-0">
      {% if not distributor.image %}
        <div class="col-md-4">
          <img id="company-image" src="{% static 'img/distributor/thumb.jpg' %}" class="img-fluid rounded-start" exp="old">
        </div>
      {% else %}
        <div class="col-md-4">
          <img id="company-image" src="{{distributor.image.url}}" class="img-fluid rounded-start" exp="old">
        </div>
      {% endif %}
      <div class="col-md-8">
        {% if not distributor.title %}
          <div id="div-title-input" class="input-group flex-nowrap">
            <input id="title-input" type="text" class="form-control" placeholder="Название компании" aria-label="Company Name" aria-describedby="addon-wrapping">
          </div>
        {% else %}
          <div id="div-title-input" class="input-group flex-nowrap">
            <input id="title-input" type="text" class="form-control" placeholder="Название компании" aria-label="Company Name" aria-describedby="addon-wrapping" value="{{distributor.title}}">
          </div>
        {% endif %}
        <div class="card-body">
          <label id="upload-label" for="upload_file" class="custom-file-upload upload-btn upload-btn-primary">Загрузить логотип</label>
          <input class="margin" type="file" formnovalidate id="upload_file" name="file" accept=".jpg,.png">
        </div>
        <button id="save-company-data" type="button" class="btn btn-outline-primary" onclick="saveCompanyData()">Сохранить изменения</button>
        <!--<button type="button" class="btn btn-outline-danger" onclick="logout()">Выйти</button>-->
      </div>
    </div>
</div>
{% endblock %}