{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OneTwoCar</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">	
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

	<!-- Style -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<!-- Owl Carousel Assets -->
    <link href="{% static 'owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'owl-carousel/owl.theme.css' %}" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>
  <body>
    <header>
	 <section class="header">
       <div class="container">
	      <div class="row">
		    <div class="col-lg-2 col-12">
			   <div class="logo"><a href="/"><img src="{% static 'img/logo.svg' %}" alt="OneTwoCar"></a></div>
			</div>
			<div class="col-lg-6">
			   <div class="menu">
			    <a href="#podbor">Подобрать авто</a>
				<a href="#new">Новинки</a>
				<a href="#order-work">Порядок работы</a>
				<a href="#about">О компании</a>
				<a href="#faq">FAQ</a>
				<a href="#contact">Контакты</a>
			  </div>
			</div>
			<div class="col-lg-2"><div class="bot"><a href="/"><img src="{% static 'img/bot.svg' %}" alt="Бот-конфигуратор в Telegram">Бот-конфигуратор</a></div></div>
			<div class="col-lg-2">
			   <div class="soc-icon">
			      <img src="{% static 'img/Facebook_white_1.svg' %}" alt="Facebook">
			      <img src="{% static 'img/Instagram_white_1.svg' %}" alt="Instagram">
			      <img src="{% static 'img/Telegram_white_1.svg' %}" alt="Telegram">
			      <img src="{% static 'img/Tiktok_white_1.svg' %}" alt="Tiktok_white">
			      <img src="{% static 'img/Youtube_white_1.svg' %}" alt="Youtube_white">
			   </div>
			</div>
		  </div>
		  <div class="header-baner">
		  <div class="row">
		    <div class="col-lg-7">
			   <h1>Автомобили от производителя</br>с доставкой и <span class="red">экономией</br>до 20%</span> от цены салона</h1>
			   <span class="subtitle">OneTwoCar - первый мультибрендовый официальный online дилер в России с</br> честными ценами от производителя</span>
               <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Подобрать автомобиль</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
	<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'img/close.svg' %}" alt="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Купить автомобиль</h5>
      </div>
      <div class="modal-body">
	    <div class="auto-form">
            <div class="auto-img"><img src="{% static 'img/auto.svg' %}" alt="Auto"></div>
			<div class="auto-info">
			    <h5 class="auto-title">HAVAL F7x  Универсал 5 дверей</h5>
				<h6 class="auto-subtitle">Comfort 1.5  4x2</h6>
				<span>АКПП,</span><span> бензин,</span><span>передний 2WD,</span><span> ДВС 1.5</span>
			</div>
        </div>
        <form class="modal-form" action="" method="post">
                <input id="name" type="text" name="name" placeholder="Ваше имя">
				<input id="tel1" type="tel1" name="tel1" placeholder="+7 (- - -) - - -   - -   - -   ">
                <input id="email" type="email" name="email" placeholder="E-mail">
				<input id="city" type="text" name="city" placeholder="Город">
				<button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModalSearch" data-bs-dismiss="modal">Купить</button>
				<button type="button" class="btn-otmena" data-bs-dismiss="modal">Отмена</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade modal-success" id="exampleModalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
	<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'img/close.svg' %}" alt="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Найдено 1 234 566 вариантов</h5>
      </div>
      <div class="modal-body">
        <p> Пожалуйста, укажите дополнительные параметры для сужения поиска</p>
      </div>
	  <div class="modal-form">
	     <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" data-bs-dismiss="modal">Хорошо</button>
	     <button type="button" class="btn-otmena" data-bs-dismiss="modal">Отмена</button>
	  </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade modal-success" id="exampleModalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
	<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><img src="{% static 'img/close.svg' %}" alt="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Автомобиль успешно забронирован</h5>
      </div>
      <div class="modal-body">
        <p>На указанный вами e-mail выслан электронный договор, подпишите его и вышлете ответным письмом. После этого мы вышлем вам детали для оплаты.</p>
      </div>
	  <div class="modal-form">
	     <button type="button" class="button" data-bs-dismiss="modal">Закрыть</button>
	  </div>
    </div>
  </div>
</div>
			</div>
			<div class="col-lg-5">
			   <div class="baner-img"><a href="/"><img src="{% static 'img/car.svg' %}" alt="Car"></a></div>
			</div>
		   </div>
		 </div>
		 <div class="header-info">
		  <div class="row">
		    <div class="col-lg-3">
			  <img src="{% static 'img/img1.svg' %}" alt="WOW Цена">
              <h4>WOW Цена</h4>
			  <span>Честная цена от производителя, без накруток и навязанных услуг</span>
			</div>
			<div class="col-lg-3">
			  <img src="{% static 'img/img2.svg' %}" alt="Car">
              <h4>Доставка на дом</h4>
			  <span>Мы привезем автомобиль и полный пакет документов прямо к вашему дому</span>
			</div>
			<div class="col-lg-3">
			  <img src="{% static 'img/img3.svg' %}" alt="Car">
              <h4>Огромнейший выбор</h4>
			  <span>Большой выбор производителей и комплектаций и все в одном месте</span>
			</div>
			<div class="col-lg-3">
			  <img src="{% static 'img/img4.svg' %}" alt="Car">
              <h4>Быстро. Просто. Безопасно</h4>
			  <span>Прозрачный цикл приобретения автомобиля. Покупка в 3 клика.</span>
			</div>
		   </div>
		 </div>
	   </div>
	 </section>
	</header>
	<section class="logo-brand">
       <div class="container">
	        <div class="logo-img">
			    <div class="img"></div>
				<div class="img"></div>
				<div class="img"></div>
				<div class="img"></div>
				<div class="img"></div>
				<div class="img"></div>
				<div class="img"></div>
				<div class="img"></div>
	        </div>
	   </div>
	</section>
	<section id="podbor" class="podbor">
       <div class="container">
	      <h2>Подобрать автомобиль по параметрам</h2>
	        <div class="podbor-form">
	        <form method="post" action="find_car">
			   {% csrf_token %}
			   <div class="fields-bl">
				  <label>Город для доставки автомобиля*</label>
				  <input type="text" name="city" list="cityname" placeholder="Выберите из списка" class="">
                   <datalist id="cityname">
						{% for city in cities %}
							<option value="{{city.title}}">
						{% endfor %}
                   </datalist>
				</div>
				<div class="fields-bl">
				  <label>Ценовой диапазон, ₽*</label>
				  <input type="text" name="pricerange" list="pricename" placeholder="Выберите из списка">
                   <datalist id="pricename">
                      <option value="500 000₽ - 2 000 000₽">
                      <option value="2 000 000₽ - 4 000 000₽">
					  <option value="4 000 000₽ - 6 000 000₽">
					  <option value="более 6 000 000₽">
                   </datalist>
				</div>
				<div class="fields-bl">
				  <label>Марка*</label>
				  <input type="text" name="mark" list="marka" placeholder="Выберите из списка">
                   <datalist id="marka">
					{% for mark in marks %}
						<option value="{{mark.title}}">
					{% endfor %}
                   </datalist>
				</div>
				<div class="fields-bl">
				  <label>КПП</label>
				  <input type="text" name="transmission" list="kpp" placeholder="Выберите из списка">
                   <datalist id="kpp">
                      <option value="АКПП" label="Автомат">
                      <option value="МКПП" label="Механика">
                   </datalist>
				</div>
				<div class="fields-bl">
				  <label>Тип кузова</label>
				  <input type="text" name="body" list="tipkuzova" placeholder="Выберите из списка">
                   <datalist id="tipkuzova">
					{% for model in models %}
						<option value="{{model}}">
					{% endfor %}
                   </datalist>
				</div>
				<div class="fields-bl">
				  <label>Тип двигателя</label>
				  <input type="text" name="type_fuel" list="motor" placeholder="Выберите из списка">
                   <datalist id="motor">
					{% for type_fuel in type_fuels %}
						<option value="{{type_fuel}}">
					{% endfor %}
                   </datalist>
				</div>
				<div class="fields-bl">
				  <label>Объем или мощность двигателя</label>
				  <input type="text" name="engine" list="obem" placeholder="Выберите из списка">
                   <datalist id="obem">
					{% for engine in engines %}
						<option value="{{engine}}">
					{% endfor %}
                   </datalist>
				</div>
				<div class="fields-bl btn-blue">
				  <button class="look-btn">Смотреть авто</button>
				  <!--<a type="button" class="look-btn">Смотреть авто</a>-->
				</div>
				<div class="fields-bl">
				  <a href="" class="clean-btn">Сбросить все параметры</a>
				</div>
			</form>
	        </div>
			
	</section>
	{% if is_search %}
		{% if not cars %}
		<section class="catalog">
		<div class="container">
			<p>Автомобиль не найден</p>
		</div>	
		</section>
		{% else %}
		<section class="catalog">
			<div class="container">
				<div class="item-auto item-auto-first">
				<div class="item-wrap">
					<img src="{% static 'img/car-list.svg' %}" alt="Car">
					<div class="item-auto-info">
						<h5>HAVAL Jolion</h5>
							<span class="count">245</span>
							<span>автомобилей от</span>
							<span class="red-color">от 2 134 786 ₽</span>
					</div>
					</div>
				</div>
				<div class="item-auto">
				<div class="item-auto-open">
					<img src="{% static 'img/plus.svg' %}" alt="Plus">
					<div class="item-wrap-open">
					<h5>HAVAL Jolion</h5>
					<span class="count">12 вариантов</span>
					<span class="red-color">от 2 134 786 ₽</span>
					</div>
				</div>
				<div class="item-auto-hide">
					<div class="item-wrap">
					<img src="{% static 'img/car-list.svg' %}" alt="Car">
					<div class="item-auto-info">
						<strong>Elite 1.5</strong> <span>4x2, 2022 г.в. Универсал, АКПП, 5 дверей, бензин, 1.5, передний 2WD</span>
						<!--<div class="variant-color"><span>Выбрать цвет:</span>
							<img src="{% static 'img/color1.svg' %}" alt="white">
							<img src="{% static 'img/color2.svg' %}" alt="white">
							<img src="{% static 'img/color3.svg' %}" alt="white">
							<img src="{% static 'img/color4.svg' %}" alt="white">
						</div>-->
					</div>
					<div class="item-auto-price">
						<span>2 134 786 ₽ </span>
						<a hraf="/">Купить</a>
					</div>
					</div>
				</div>
				</div>	
			</section>
		{% endif %}
	{% endif %}
	<section class="slider">
       <div class="container">
	      <h2>Новинки<span  id="new" class="new">new</span></h2>
		  <div class="slider-bl">
		  <div id="owl-demo" class="owl-carousel">
    <div class="item"><h3 class="">HAVAL F7x Elite, 20221</h3><img src="{% static 'img/car1.svg' %}" alt="Car"><div class="bottom-item"><span class="price">2 654 321 ₽</span><a hraf="/">Купить</a></div></div>
    <div class="item"><h3 class="">Geely Tugella, 2022</h3><img src="{% static 'img/car2.svg' %}" alt="Car"><div class="bottom-item"><span class="price">3 678 123 ₽</span><a hraf="/">Купить</a></div></div>
    <div class="item"><h3 class="">Exeed TXL, 2022</h3><img src="{% static 'img/car3.svg' %}" alt="Car"><div class="bottom-item"><span class="price">3 000 000 ₽</span><a hraf="/">Купить</a></div></div>
    <div class="item"><h3 class="">HAVAL F7x Elite, 20221</h3><img src="{% static 'img/car1.svg' %}" alt="Car"><div class="bottom-item"><span class="price">2 654 321 ₽</span><a hraf="/">Купить</a></div></div>
    <div class="item"><h3 class="">Geely Tugella, 2022</h3><img src="{% static 'img/car2.svg' %}" alt="Car"><div class="bottom-item"><span class="price">3 678 123 ₽</span><a hraf="/">Купить</a></div></div>
    <div class="item"><h3 class="">Exeed TXL, 2022</h3><img src="{% static 'img/car3.svg' %}" alt="Car"><div class="bottom-item"><span class="price">3 000 000 ₽</span><a hraf="/">Купить</a></div></div>
		   </div>
		   <div class="customNavigation">
                <a class="btn prev"><img src="{% static 'img/prev.svg' %}" alt="Previous"></a>
                <a class="btn next"><img src="{% static 'img/next.svg' %}" alt="Next"></a>
            </div>
			</div>
	   </div>
	</section>
    <section id="order-work" class="order-work">
       <div class="container">
	      <h2>Порядок работы</h2>
		  <div class="blocks">
		    <div class="block-1">
			   <span>Выбираете</br> автомобиль</span>
			   <span>Мы отправляем вам</br> электронный договор</span>
			   <span>Производитель в течение</br>3-ех дней отгружает</br>автомобиль</span>
			   <span>Автомобиль прибывает к вам, вы</br> проводите осмотр и</br> подписываете акт приемки</span>
			</div>
		    <div class="block-2">
			<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span>Наслаждайтесь!</span>
			</div>
			<div class="block-3">
			   <span>Оставляете заявку</br>на бронирование</span>
			   <span>После подписания договора</br> вы вносите предоплату 100%</br>напрямую производителю</span>
			   <span>Доставка автомобиля до</br> вашего адреса</span>
			</div>
		  </div>
	   </div>
	 </section>    
    <section id="about" class="about">
       <div class="container">
          <h2>Кто такие OneTwoCar?</h2>
	      <span class="subtitle">
	       Онлайн-покупки стали неотъемлемой частью нашей жизни. Все больше сфер переходят в online. OneTwoCar - это первый полностью дистанционный сервис покупки автомобилей напрямую у производителя, без накруток и переплат. 
	       </span>
		   <h3>OneTwoCar vs. Дилер</h3>
		   <div class="table-grid">
		      <div class="col-one">
			    <strong class="head-title">Параметр</strong>
				<span>Цена</span>
				<span>Доставка</span>
				<span>Выбор</span>
				<span>Процесс поиска</span>
				<span>Ассортимент</span>
				<span>Дополнительные услуги</span>
				<span>Общение с менеджерами</span>
				<span>Бюрократия</span>
				<span>Прозрачность сделки</span>
				<span>Акции и скидки</span>
			  </div>
			  <div class="col-two">
			    <strong class="head-title">Покупка у OneTwoCar</strong>
				<span><p>Честная цена от производителя.</br>Экономия <b>до 70%</b> от цены диллера</p></span>
				<span><p><b>Доставка</b> автомобиля прямо <b>к дому</b></p></span>
				<span><p><b>Огромный выбор</b> автомобилей. Возможность сравнить</br> актуальные цены и комплектации сразу по всем производителям</p></span>
				<span><p>Все марки и модели <b>в вашем смартфоне</b> - </br>выбирайте, не выходя из дома</p></span>
				<span><p>Возможность найти <b>эксклюзивные марки,</b> модели и</br> комплектации, не представленные в вашем городе</p></span>
				<span><p>Опции и финансовые услуги <b>только по запросу</b> клиента</p></span>
				<span><p><b>Не нужно</b> общаться с навязчивыми менеджерами</p></span>
				<span><p>Максимальная <b>простота и скорость</b> покупки - вы выбираете</br> автомобиль, все остальные вопросы мы решаем за вас</p></span>
				<span><p><b>Прозрачность и безопасность</b> сделки,</br>возможность оформления смарт-контракта</p></span>
				<span><p>Прозрачная цена, без нюансов. Вы можете воспользоваться <b>официальными акциями</b> от дистрибьютора</p></span>
			  </div>
			  <div class="col-three">
			    <strong class="head-title">Покупка у дилера</strong>
				<span>Необоснованно завышенные цены на автомобили</span>
				<span>Многократные визиты в салон,</br>прежде чем вы сможете купить свой автомобиль</span>
				<span>Очень трудно найти нужный</br>автомобиль в нужной комплектации</span>
				<span>Нужно посетить всех дилеров в городе,</br>чтобы выбрать подходящий вам автомобиль</span>
				<span>Скудный выбор марок, моделей и комплектаций, ограниченный дилерами, представленными в вашем городе</span>
				<span>Навязывание дополнительных опций, кредитов, пакетов и услуг</span>
				<span>Менеджеры, которые упорно будут навязывать</br>покупку и надоедать звонками</span>
				<span>Долгий цикл покупки, сопровождающийся бесконечной бумажной волокитой и многократными визитами в салон</span>
				<span>Дилеры, заинтересованные в получении максимальной прибыли, часто скрывают полные условия сделки</span>
				<span>Все скидки искусственны – дилер всегда компенсирует свои издержки.Официальные акции от дистрибьютора чаще всего не афишируются</span>
			  </div>
		   </div>
       </div>
	</section>  
	<section id="faq" class="faq">
       <div class="container">
	    <h2>Часто задаваемые вопросы</h2>
		<div class="accordion" id="accordionExample">
  <div class="accordion-item">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
        Какие документы я получаю на руки?
      </button>
    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Перед отгрузкой автомобиля вы принимаете соглашение и мы подписываете электронный договор купли-продажи автомобиля. К договору идет приложение - спецификация на конкретный автомобиль. По факту отгрузки и получения - вы ставите подпись в акте приемки и в сервисной книжке.
      </div>
    </div>
  </div>
  <div class="accordion-item"> 
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
        Можно ли купить автомобиль в кредит?
      </button>
    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        На данный момент возможность покупки автомобиля в кредит отсутствует. Но мы очень скоро это добавим)
      </div>
    </div>
  </div>
  <div class="accordion-item">   
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
        Будет ли расширяться ассортимент марок?
      </button>
    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Ассортимент марок будет постоянно расширяться, по мере расширения сотрудничества нашей страны с производителями других стран.
      </div>
    </div>
  </div>
  <div class="accordion-item">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
        Как добавить доп опции к комплектации?
      </button>
    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        На данный момент возможность добавления дополнительных опций к покупке отсутствует. Но мы очень скоро это добавим)
      </div>
    </div>
  </div>
  <div class="accordion-item">   
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
        В какие города отправляем автомобиль?
      </button>
    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Мы доставляем автомобили практически во все крупные города России. Если вашего города нет в списке, выберите ближайший к нему региональный центр.
      </div>
    </div>
  </div>
  <div class="accordion-item">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
        Сколько по времени идет доставка?
      </button>
    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Время доставки зависит от вашего адреса и удаленности от него склада поставщика.
      </div>
    </div>
  </div>
  <div class="accordion-item">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
        Покупая автомобиль у вас, сохраняются ли гарантии?
      </button>
    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Сервисное, послепродажное, в том числе, гарантийное обслуживание сохраняется. Гарантийные обязательства на автомобиль несет напрямую производитель. В случае поломки автомобиля, вы можете обратиться в любой дилерский авторизованный центр, как в случае, если бы вы покупали автомобиль в автосалоне.
      </div>
    </div>
  </div>
  <div class="accordion-item">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
        Как записаться на тест-драйв?
      </button>
    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        На данный момент возможность записи на тест-драйв напрямую через наш сервис отсутствует. Но вы всегда можете познакомиться с автомобилем и провести тест-драйв перед покупкой в любом дилерском центре. 
      </div>
    </div>
  </div>
  <div class="accordion-item">  
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
        Что делать, если автомобиль пришло с дефектом?
      </button>
    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        На период транспортировки автомобиля от склада дистрибьютора и до вашего дома, оформляется специальная страховка, которая защищает автомобиль от любых повреждений и, в случае чего, позволяет произвести замену автомобиля на аналогичный. 
      </div>
    </div>
  </div>
  <div class="accordion-item"> 
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
        Если мне не понравился автомобиль?
      </button>
    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        У нас не предусмотрена опция возврата автомобиля, если он вам не подошел. Однако вернуть машину без причины все-таки возможно - в таком случае вы оплачиваете компенсацию логистики и фиксированный штраф (в зависимости от типа автомобиля). 
      </div>
    </div>
  </div>
  <div class="accordion-item">   
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
        Здесь нет моего вопроса
      </button>
    <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Вы можете связаться с нашим сотрудником @kolmazz, чтобы задать ваш вопрос.
      </div>
    </div>
  </div>
</div>
	   </div>
	 </section> 
	<section class="question">
       <div class="container">
	     <div class="wrap">
	        <div class="form">
		      <h2>Есть вопрос?</h2>
			  <span class="subtitle">Задайте его через форму ниже, мы ответим вам в ближайшее время</span>
			  <form action="" method="post">
                <input id="name" type="text" name="name" placeholder="Ваше имя">
				<input id="tel" type="tel" name="tel" placeholder="+7 (- - -) - - -   - -   - -   ">
				<textarea id="text" name="text" placeholder="Ваш вопрос"></textarea>
				<span class="form-text">Нажимая "Отправить", вы соглашаетесь на сбор и обработку персональных данных</span>
                <input type="submit" class="submit" value="Отправить">
              </form>
		    </div>
		 </div>
	   </div>
	</section>  
	<section id="contact" class="contact">
       <div class="container">
		    <h2>Контакты</h2>
            <div class="soc-icon">
			   <img src="{% static 'img/Facebook_white.svg' %}" alt="Facebook">
			   <img src="{% static 'img/Instagram_white.svg' %}" alt="Instagram">
			   <img src="{% static 'img/Telegram_white.svg' %}" alt="Telegram">
			   <img src="{% static 'img/Tiktok_white.svg' %}" alt="Tiktok_white">
			   <img src="{% static 'img/Youtube_white.svg' %}" alt="Youtube_white">
			</div>
			<span class="bot"><a href="https://t.me/One_Two_Car_bot"><img src="{% static 'img/paper-plane.svg' %}" alt="Бот-конфигуратор в Telegram">Бот-конфигуратор в Telegram</a></span>
			<a href="mailto:info@onetwocar.com" class="email-info">info@onetwocar.com</a>
	   </div>
	</section>
	<footer>
	  <div class="footer">
        <div class="container">
		  <div class="row">
		    <div class="col-lg-2">
			    <a href="/"><img src="{% static 'img/logo_footer.svg' %}" alt="OneTwoCar"></a>
			</div>
			<div class="col-lg-3">
			  <div class="menu-footer">
			    <a href="#podbor">Подобрать автомобиль</a>
				<a href="#new">Новинки</a>
				<a href="#order-work">Порядок работы</a>
				<a href="#about">О компании</a>
				<a href="#contact">Контакты</a>
			  </div>
			</div>
			<div class="col-lg-4">
			    <div class="menu-footer">
			    <a href="#faq">Часто задаваемые вопросы</a>
				<a href="oferta">Договор оферты</a>
			  </div>
			</div>
			<div class="col-lg-3">
                <div class="soc-icon">
			      <img src="{% static 'img/Facebook_white_1.svg' %}" alt="Facebook">
			      <img src="{% static 'img/Instagram_white_1.svg' %}" alt="Instagram">
			      <img src="{% static 'img/Telegram_white_1.svg' %}" alt="Telegram">
			      <img src="{% static 'img/Tiktok_white_1.svg' %}" alt="Tiktok_white">
			      <img src="{% static 'img/Youtube_white_1.svg' %}" alt="Youtube_white">
			    </div>  
			   <span class="bot"><a href="https://t.me/One_Two_Car_bot"><img src="{% static 'img/paper-plane.svg' %}" alt="Бот-конфигуратор в Telegram">Бот-конфигуратор в Telegram</a></span>
			   <a href="mailto:info@onetwocar.com" class="email-info">info@onetwocar.com</a>
			 </div>
		   </div>
		<div class="copyright">
		   <div class="row">
		    <div class="col-lg-4"><span>© 2022 One Two Car.  Все права защищены.</span></div>
			<div class="col-lg-8"><span class="text-right">Все материалы, размещенные на настоящем сайте носят исключительно информационный характер и не являются публичной офертой.</span></div>
		   </div>
	   </div>	
	    </div>
	   </div>
    </footer>
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
<script>
var x, i, j, l, ll, selElmnt, a, b, c;
/* Look for any elements with the class "custom-select": */
x = document.getElementsByClassName("custom-select");
l = x.length;
for (i = 0; i < l; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  ll = selElmnt.length;
  /* For each element, create a new DIV that will act as the selected item: */
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /* For each element, create a new DIV that will contain the option list: */
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < ll; j++) {
    /* For each option in the original select element,
    create a new DIV that will act as an option item: */
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
    /* When the select box is clicked, close any other select boxes,
    and open/close the current select box: */
    e.stopPropagation();
    closeAllSelect(this);
    this.nextSibling.classList.toggle("select-hide");
    this.classList.toggle("select-arrow-active");
  });
}

function closeAllSelect(elmnt) {
  /* A function that will close all select boxes in the document,
  except the current select box: */
  var x, y, i, xl, yl, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  xl = x.length;
  yl = y.length;
  for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}

/* If the user clicks anywhere outside the select box,
then close all select boxes: */
document.addEventListener("click", closeAllSelect);
</script>
 <script>// Пример стартового JavaScript для отключения отправки форм при наличии недопустимых полей
(function () {
  'use strict'

  // Получите все формы, к которым мы хотим применить пользовательские стили проверки Bootstrap
  var forms = document.querySelectorAll('.needs-validation')

  // Зацикливайтесь на них и предотвращайте отправку
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()</script>

    <script>
    $(document).ready(function() {

      var owl = $("#owl-demo");

      owl.owlCarousel({

      items : 3, //10 items above 1000px browser width
      itemsDesktop : [1000,5], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,3], // 3 items betweem 900px and 601px
      itemsTablet: [600,2], //2 items between 600 and 0;
      itemsMobile : false, // itemsMobile disabled - inherit from itemsTablet option
      dots : false
      });

      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
      $(".play").click(function(){
        owl.trigger('owl.play',1000);
      })
      $(".stop").click(function(){
        owl.trigger('owl.stop');
      })


    });
    </script>
  </body>
</html>